[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jgirit
[access "refs/for/refs/*"]
	read = group user/jgirit
	push = group user/jgirit
	label-Code-Review = -2..+2 group user/jgirit
	label-Verified = -1..+1 group user/jgirit
	rebase = group user/jgirit
	removeReviewer = group user/jgirit
	submit = group user/jgirit
[access "refs/heads/*"]
	read = group user/jgirit
	create = group user/jgirit
	push = +force group user/jgirit
	pushMerge = group user/jgirit
[access "refs/tags/*"]
	push = +force group user/jgirit
	pushTag = group user/jgirit
	pushSignedTag = group user/jgirit
